<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Blog CMS Test Suite" parallel="tests" thread-count="5">

    <!-- Listeners -->
    <listeners>
        <listener class-name="com.blogcms.listeners.TestListener"/>
    </listeners>

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.blogcms.tests.LoginTest"/>
            <class name="com.blogcms.tests.SignOutTest"/>
            <class name="com.blogcms.tests.CreateCategoryTest"/>
        </classes>
    </test>


</suite> 